# List files colorized
alias ls='ls -lpFh --color=auto'
# List files colorized, including dot files
alias la='ls -lpFh --color=auto'

# Always enable colored `grep` output
alias grep='grep --color=auto '

# Shortcuts
alias e='exit'
alias c='clear'

# Interactive and verbose copy, move and remove
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# Typos
alias gti='git'
alias sl='ls'
alias cd..='cd ..'

# Up 'n' folders
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Ubuntu specific
alias agi='sudo apt-get install'
alias agr='sudo apt-get remove'
alias agu='sudo apt-get update'
alias agp='sudo apt-get purge'

# Ping google.com for connectivity checks
alias pingoo='ping google.com'

# Get public IP
alias pubip='dig +short myip.opendns.com @resolver1.opendns.com'

# Linux specific aliases
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'