[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=4 -RFX

[user]
    name = Chris Aslanoglou
	email = caslanoglou@ubitech.eu

[alias]

    # Undo latest (local) commit
    undo-commit = reset --soft HEAD~1

    # status shorthand
    st = status

    # Pretty printed log graph with relative dates
    plog = log --graph --abbrev-commit --pretty=format:'%C(bold blue)%h%C(reset) -%C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(bold green)(%cr) %C(dim white)<%an>%C(reset)'
    # Pretty printed log graph (similar to the above)
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset by %C(yellow)%ae%Creset'

    # Show diff for staged files
    diffca = diff --cached

    # Use diff-so-fancy for diff
    dsf = diff --color
    dsfca = diff --cached --color

    # Amend the HEAD commit without editing its commit message
    cane = commit --amend --no-edit
    # Commit fixup
    cf = commit --fixup

    # Rebase continue
    rec = rebase --continue
    # Rebase autosquash
    ria = rebase -i --autosquash

    # Switch to a branch, creating it if necessary
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"


[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

[color]
    ui = auto

[credential]
    helper = cache --timeout=3600

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1

[mergetool]
    keepTemporaries = false

[diff]
    tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    trustExitCode = true
    cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"

[merge]
    tool = meld

[mergetool]
    prompt = false

[mergetool "meld"]
    trustExitCode = true
    cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

[format]
    signoff = true

[pager]
    dsf = diff-so-fancy | less --tabs=4 -RFXS
    dsfca = diff-so-fancy | less --tabs=4 -RFXS
[interactive]
	diffFilter = diff-so-fancy --patch
[rerere]
	enabled = true
	autoupdate = true
[pull]
	rebase = true
